libs/*.aar

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml

# Mac
.DS_Store

# Logs
*.log

# AAR / JAR (IMPORTANT for you)
*.aar
*.jar

# Keystore files (NEVER upload)
*.keystore
*.jks

# Generated plugin registrant
.flutter-plugins
.flutter-plugins-dependencies